[2015-09-28 08:58] cannyboy opened #1 "20 lines of code"
Can we see this code? Thanks.

[2015-09-28 11:07] mamaral commented on #1
Check out the demo project. It's in one of the three view controllers there.

[2015-09-28 12:17] cannyboy commented on #1
Great thanks. In that example, is there a way to adjust the shapes via the dark grey lines? Like the gif in this prototype?

https://github.com/MrNickBarker/iOSAccordionPanels

[2015-09-28 12:40] mamaral commented on #1
I'm sure it could be done, but that would be related to how you handled user interaction. In my example I just used a single anchor view that follows user touch events. You'd have to write your own version that did what you wanted there but the layout stuff should just work.

[2015-09-28 20:19] mamaral commented on #1
Let me know if you have any more questions!

[2015-09-28 20:19] #1 closed

[2015-09-29 16:00] thanhtruong0315 opened #3 "Can I use this framework for Mac OSX application?"
Dear,

Neon is really excellent framework for UI design. But I do not know it is possible for mac os application or not?

Thanks.

[2015-09-29 16:04] mamaral commented on #3
I've never messed with OSX applications before, but I do believe that the origin { 0,0 } is different on OSX apps than iOS apps, lower-left vs. upper-left respectively, so I'm guessing it would not work out of the box, although I'm looking into making a simple fix that will make it work properly on both.

[2015-09-30 05:02] thanhtruong0315 commented on #3
Thanks for your working. Hoping you will completer this framework for both, iOS & OSX.

[2015-10-02 05:09] DJBen opened #5 "Can't use cocoapods because the extension UIView is empty?"
I tried integrating it with cocoapod. It can be imported correctly but I can't find any functions extended in UIView because that section is not public?

[2015-10-02 12:08] mamaral commented on #5
I haven't pushed it to cocoapods yet. It's not exactly 100% production ready just yet. I'm adding more unit tests, doing more testing, and maybe a bit of refactoring, then I will get out the first version into cocoapods.

[2015-10-06 01:53] mamaral commented on #5
I'd give it a try now that it's been pushed to CocoaPods. Let me know if you have issues!

[2015-10-06 01:53] #5 closed

[2015-10-09 09:17] jyounus opened #7 "Autolayout question"
Hey there,

I was wondering what this is using under the hood? Are we able to "mix and match" auto layout constraints via Storyboard and Neon for some other views?

Thanks and great job with this!

[2015-10-09 09:34] zdenektopic commented on #7
it is simply calculating the frames ;)

at least i believe so from what i saw in the code

[2015-10-09 10:45] jyounus commented on #7
Yeah, just seen it myself as well. I was wondering how this would work with the split screen iPad feature?

[2015-10-09 14:00] mamaral commented on #7
I'm still looking into making this compatible with the size class stuff - AFAIK that's the way to make it work with split screen. There's nothing prevent the views from properly resizing if the screen size changes, that's the whole point of this Neon, but I think I have to implement a few methods to tell the OS that its supported.

[2015-10-12 13:43] zdenektopic opened #8 "AsyncDisplayKit"
I saw in some issue in Facebooks ASDK that someone wanted to use Neon with ASDK. They told him it would be difficult to implement but I think its as easy as

[code]

Isn't it?

[2015-10-13 08:06] zdenektopic commented on #7
Well dont you have to simply recalculate the frames if window size and the size class changes?

[2015-10-13 11:36] mamaral commented on #7
Not sure, but if that's the case it'll be pretty easy. The size class documentation really sucks though, I can't find anything not related to storyboards.

[2015-10-13 13:12] zdenektopic commented on #7
In code you work with size classes with the help of UITraitCollection. An article on that topic http://blog.flatironschool.com/working-with-size-classes-in-code-with/.

[2015-10-13 13:17] zdenektopic opened #10 "Paddings -> offsets"
Wouldnt it be fitting to refactor `xPad: CGFloat, yPad: CGFloat` type arguments to something nice like `offset: CGSize` and/or `offset: UIEdgeInsets`. Seems a bit nicer to me, or at least provide it as overloads to current implementation :)

[2015-10-13 13:21] zdenektopic opened #11 "enums to OptionSets"
Right now:

[code]

could be:
[code]

Example of bitmask/option sets/flags in Swift 2.0:
[code]

[2015-10-13 13:59] mamaral commented on #11
The problem with that is, and the reason why I went with simple enums in most of these cases is, that corners and edges have specific configurations that make sense, and ones that don't make any sense. If you were to pass in `[.Bottom]` to `anchorInCorner()`, that wouldn't be enough information to do anything, and would require checking a number of *invalid* combinations and subsequent error handl

[2015-10-13 14:21] mamaral commented on #10
Similar to my other comment on your other issue, this would complicate the implementation and usage of these methods, and make what they do slightly ambiguous and/or superfluous. Each method has a specific combination of parameters that apply specifically to each case, i.e. when anchoring to an edge, only `yPad` is required and makes sense, whereas a corner requires both an x and a y padding.

[2015-10-13 14:33] zdenektopic commented on #11
I see, you are probably right. It actually also provides build time check everything is all right.

[2015-10-13 14:37] zdenektopic commented on #10
Ok, what I actually dont like is the "Pad" suffix. I would make it yOffset and xOffset or at least  yPadding and xPadding. You can still use xPad and yPad in method implementation, but using abbreviated version seems just wrong in swift or objc. Offsets seem a bit better since it is used thru iOS and OS X SDKs extensively.

[2015-10-13 14:40] mamaral commented on #10
Yeah I don't disagree there - with these things I'm always struggling a bit to find the balance between succinctness, clarity, explicitness, etc. I'll think some more about this and get back to you. Thanks!

[2015-10-13 14:43] mamaral commented on #7
Awesome - checking that out ASAP. Thanks @zdenektopic!

[2015-10-13 19:05] #11 closed

[2015-10-23 15:18] #8 closed

[2015-10-23 16:01] wieseljonas commented on #8
So Neon doesn't use autolayout?

[2015-10-23 16:02] mamaral commented on #8
@wieseljonas No, it doesn't. Feel free to dig into the code, it's fairly simple.

[2015-10-23 16:09] wieseljonas commented on #8
Boy @mamaral  I'm in love with Neon :+1:

[2015-10-23 16:10] mamaral commented on #8
Thanks @wieseljonas!! :) Hopefully will be making improvements and updates soon!

[2015-10-23 16:18] wieseljonas opened #12 "Dynamic UIlabel"
It's not a issue just a suggestion. at the moment I have UILabels that can have 1 to 2 lines depending and text size.

at the moment I do this like this but I'm sure there is a better way

    let nameLabelHeight = nameLabel.text?.heightWithConstrainedWidth(self.width - 24 - profilePictureImageView.width, font: nameLabel.font)
        if let n = nameLabelHeight where n > 60 {
            nameLabel

[2015-10-23 16:22] mamaral commented on #12
That is the #1 thing I plan to add and have a pretty good idea how I would handle it. Ultimately what I envision is you'll do something like this:

[code]

Under the covers that will *essentially* do the following (which is what I currently do myself)

[code]

The reason you need to do something like that, it seems to me, is that the first pass through alignAndFillWidth() sets the width, and then

[2015-10-23 16:31] wieseljonas commented on #12
@mamaral  Thanks for the quick reply I will give it a spin and get back to you

[2015-10-23 16:33] mamaral commented on #12
In case it wasn't clear, that first chunk of code with `LabelAutoHeight` has not been implemented yet, but in the meantime using those three lines with the sizeToFit() in the middle should auto-size and align the label correctly with any number of lines.

[2015-10-23 16:45] wieseljonas commented on #12
@mamaral Ok got it. Thanks for the great work

[2015-10-24 20:04] mamaral commented on #12
Implemented the first crack at it. Check this out and let me know if this is what you were thinking:

https://github.com/mamaral/Neon#what-about-labels

[2015-10-25 15:08] mamaral commented on #12
You should be good to go, let me know if you have issues.

[2015-10-25 15:08] #12 closed

[2015-10-26 11:14] wieseljonas commented on #12
I will give it a spin. If I can give a quick feedback. In my case a need to make sure the UILabel doesn't exceed a certain height. I think a maxHeight or maxWidth option could really be useful.

[2015-10-26 11:19] wieseljonas commented on #12
Another 2 cents worth. In my case I'm not between 2 views but I need the label to fill the width from a view and the border of the superview. Maybe I didn't get fully and it's already possible.

[2015-10-26 13:54] mamaral commented on #12
I don't have the max/min height capability, but you're able to pass in `AutoHeight` to any method that accepts a `height` param and the label will auto size and align appropriately.

[2015-10-26 21:08] RohanNagar commented on #3
Would love to use this framework on OS X. Please let me know if you make any progress on that front.

[2015-10-29 19:54] thomjordan commented on #3
Neon looks like a great framework ! I installed it into my project via Carthage this morning, and have been trying to figure out why the subview I've been trying to anchor to the top edge kept showing up centered on the left side with half of the view offscreen.  I just realized that the coordinate system on OS X must be different from iOS.. Lol.

[2015-10-29 20:03] mamaral commented on #3
Yeah @thomjordan I still need to look into making this work out of the box for both systems.

[2015-10-30 06:26] thomjordan commented on #3
Great to hear, thanks for the update !

[2015-11-02 05:19] zixun opened #14 "When to release next version"
When to release next version?
the version of 0.0.1 doesnot have AutoHeight, When to release next version.

[2015-11-02 05:35] zixun opened #15 "Can't use for Objective-C Application"
Can't use for Objective-C Application.

I have import the Neon-swift.h file

[2015-11-02 14:14] mamaral commented on #14
I'll try to put out an update tonight.

[2015-11-02 23:20] zdenektopic commented on #15
did u try @import Neon; instead of #import <Neon/Neon-swift.h>?

[2015-11-03 02:24] zixun commented on #15
yes,i tried. the selector in Neon.swift can use,but in other file can't

[2015-11-03 02:25] zixun commented on #14
@mamaral cool

[2015-11-03 03:07] mamaral commented on #14
v0.0.2 should be available :)

[2015-11-03 03:07] #14 closed

[2015-11-04 12:25] zixun commented on #15
make any process？

[2015-11-05 12:05] aixinlove opened #16 "how to add auto layout subview to neon layout view?"

[2015-11-05 13:19] mamaral commented on #16
I'm not sure I understand the question.

[2015-11-06 11:29] zixun opened #17 "error while carthage update"
I add the neon to my  Cartfile,but while Im  run  carthage update commond，terminal show an error:

      *** Fetching Neon
      *** Checking out Neon at "v0.0.2"
      *** xcodebuild output can be found in /var/folders/5y/x8t9wb3d1t33b77ckz509p_w0000gn/T/carthage-xcodebuild.JEhAhQ.log
     A shell task failed with exit code 66:
     xcodebuild: error: Scheme NeonMacDemo is not currently configure

[2015-11-07 15:53] schickling commented on #17
+1

[2015-11-07 23:28] mamaral commented on #17
I didn't set up the carthage stuff, but I believe this has to do with setting the test target's scheme to shared for unit test coverage purposes. I'll look into this as soon as I can, although I've been quite busy with my 9-5 so can't promise it'll be very soon.

[2015-11-08 10:56] thomjordan commented on #3
There's a read-only Bool property in NSView called `flipped` that can change the traditional OS X coordinates to a new basis whose origin is in the upper-left.

It defaults to false but can be overridden in a custom subclass of NSView or within an extension to an existing subclass of NSView:

[code]

After setting these, Neon now seems to be working perfectly on OS X as far as I can tell, at least

[2015-11-08 22:19] mamaral commented on #3
@thomjordan That is awesome! Any chance you'd be able to throw that in a pull request?

[2015-11-08 23:47] thomjordan commented on #3
I can sure try.. I'm not that familiar with Git yet but I can look into it
more over the next few days..

On Sun, Nov 8, 2015 at 5:19 PM, Mike Amaral <notifications@github.com>
wrote:

[2015-11-09 02:19] mamaral commented on #3
@thomjordan No problem, let me know if you need any assistance.

[2015-11-10 05:53] zixun commented on #17
@mamaral  waiting for you~ by the way, I found the reason of the error:

[error while carthage update](https://github.com/Carthage/Carthage/issues/896#issuecomment-155102100)

[2015-11-10 06:10] ikesyo commented on #17
Sharing a scheme for non-framework target is valid. `Neon Demo` and `NeonUnitTests` schemes are also shared, but they don't have any problems.

In this case, the project does not have the target `NeonMacDemo` which is described in the `NeonMacDemo` scheme. You should delete the scheme since that is just a garbage and unnecessary.

[2015-11-11 14:42] mamaral commented on #17
Should be addressed with #18. LMK if you still have issues.

[2015-11-11 14:42] #17 closed

[2015-11-11 17:08] schickling commented on #17
Awesome. Thanks! :)

[2015-11-14 00:36] brcolow opened #19 "Allow setting xPad, yPad individually for groupAgainstEdge"
Hello,

I am currently using the groupAgainstEdge method to group 3 dots together, aligned at the bottom edge, like so:

[code]

The limitation is that the padding determines *both* the vertical padding from the bottom /and/ the horizontal padding of the dots together. E.g., if I increase the padding value, the dots move further away from the bottom edge and further away from each other. I assume

[2015-11-15 15:31] richardoti commented on #15
I'm using Neon in  Objective-C Application right now.
The Neon framework is used in one UI-component, which is written in Swift. However, the rest of the app is Objective-C based.

[2015-11-15 15:51] zixun commented on #15
how did you use with Neon? by CocoaPods?

[2015-11-15 16:21] richardoti commented on #15
I've just copied the whole framework to the project.

[2015-11-15 17:17] damianesteban opened #20 "Installing with Carthage - build failed"
When I attempt to install this framework with Carthage, the build fails with the following output:

[code]

has anyone found a workaround for this (besides installing it as a module)?

[2015-11-16 21:05] brcolow commented on #19
To attempt to clarify: here is some code from NeonGroupable.swift:

[code]

Here we see that the xOrigin and yOrigin use the *same* padding value - what I am asking is if it would be possible to split this into xPad and yPad, as it is in some other methods.

[2015-11-16 21:08] mamaral commented on #19
I understand - sorry I've been extremely busy with my real-life work as well as have been sick, so I haven't done much open source work recently. I had originally done it that way so that the method signature wasn't any longer than it already was, but could add another function with the same name, but different params, that does what you're talking about, although that goes back to the complexity

[2015-11-17 00:13] thomjordan commented on #3
I forked Neon to my GitHub page, then cloned it to my local system.  On my local copy, I added some lines to the #ifdef in Neon.swift, a few times, but each time I save, close then open the file again the changes are gone.  I think I know now how to do the rest, submitting the pull request, etc.  I just seem to be stuck on this one part.. how to be able to make changes in the first place.  There's

[2015-11-17 00:43] brcolow commented on #19
Sorry to hear that you have been sick :(. Here's the changed implementation of groupAgainstEdge that would allow one to specify both x and y padding individually:

[code]

[2015-11-19 10:29] zixun opened #22 "My Application is open source which used Neon for UI layout"
My Application( [CocoaChina+](https://github.com/zixun/CocoaChinaPlus) ) is open source. It used Neon for layout my UI.
and some of other swift opensource library,such as : [RxSwift](https://github.com/ReactiveX/RxSwift), [Ji](https://github.com/honghaoz/Ji)

Thanks for Neon 😄

[2015-11-19 15:40] mamaral commented on #22
Glad you like it, thanks!

[2015-11-19 15:40] #22 closed

[2015-11-22 15:52] schickling commented on #20
Getting the following:

[code]

[2015-11-23 08:18] herwangsong opened #23 "Neon support cocoa pod ?"
I appreciate Neon with a super clean syntax. but I can't search it on pod.

[2015-11-23 14:19] mamaral commented on #23
https://cocoapods.org/pods/Neon

[2015-11-24 11:40] zixun opened #24 "set the xPad and yPad to zero as default value"
I have an idea:
      set the xPad and yPad to zero as default value.so that we can have an api that needn't pass the xPad and yPad if xPad is 0 and yPad is 0 .
      because almost every API in Neon contains parameters of xPad and yPad,and almost every time I pass zero to them.If the default value is Zero,I will needn't pass zero it them.
      My code will be nicer~

[2015-11-24 18:33] mamaral commented on #24
Wouldn't Xcode then autocomplete a bunch of different versions of the same method, making quick implementation a bit annoying?

[2015-12-06 03:23] RayTao opened #26 "Offset layout question"
![reloation](https://cloud.githubusercontent.com/assets/8056228/11611487/812c896c-9c0b-11e5-9a0a-5093c705b10c.png)
 How an I layout like the image? I think need xPad and yPad

[2015-12-14 02:03] horaceho opened #27 "How to layout a table with equal cell height and width?"
Give a resizable UIView, what is the proper way to layout a 3 x 4 table with equal width and height for each cell?

[2016-01-13 14:32] #23 closed

[2016-02-20 04:48] cactis commented on #27
maybe such as....

if a is a resizable view

add  r1 view to a
add r1c1, r1c2, r1c3 to r1

add r2 view to a and r2c1, r2c2, r2c3 ....
add r3 view to a and r3c1, r3c2, r3c3....

and groupAndFill them....
a.groupAndFill(group: .Vertical, views: [r1, r2, r3], padding: 0)
r1.groupAndFill(group: .Horizontal, views: [r1c1, r1c2, r1c3], padding: 0)
r2.groupAndFill(group: .Horizontal, views: [r2c1, r2c2,

[2016-03-28 13:07] RobertNNms opened #28 "Resize + Move view (drag&drop)"
Hi,

Is it possible to create a facility to resize and move view?

Thanks

[2016-04-05 21:46] rblalock opened #29 "Awesome library!"
Love this!  Good Job.

[2016-04-05 21:46] #29 closed

[2016-04-05 21:48] mamaral commented on #29
Thanks @rblalock !

[2016-04-09 04:54] JFKingsley commented on #20
#30 should resolve this.

[2016-05-08 03:13] mamaral commented on #28
It's possible, but I think it would be outside the scope of this library.

[2016-05-10 20:09] #28 closed

[2016-05-10 20:10] #20 closed

[2016-05-10 20:10] #16 closed

[2016-05-10 20:10] #7 closed

[2016-05-10 23:48] thomjordan commented on #3
I've seen very good results using this version of Neon modified for OS X. I still haven't figured out how to initiate pull requests in Git, so instead here's a zip attachment of the Neon source folder circa mid-November 2015, modified for the default OS X coordinate system with a lower-left origin. I basically just switched around some of the enum cases and turned some "+" signs into "-", et al.

[2016-05-11 00:07] mamaral commented on #3
@thomjordan Excellent, I'll see what you did there and see if I can conditionalize it. Honestly, the reason why I haven't done this yet is because I've actually never built an OSX app, and have no idea how to set it up with a simple widow for testing. I spent like 30 minutes one night last year and gave up, then forgot about it since.

[2016-05-11 04:17] mamaral commented on #26
As of v0.2.0, which I just pushed, you now should be able to specify an `offset` param for all of the align methods. Let me know if that achieves what you're looking for!

[2016-05-15 23:57] tim12s opened #31 "UILabel width"
Hi,

Great work on making a super flexible and simple layout framework.

Any chance you can have tried to have UIButton and UILabel to automatically calculate their widths as per below where the width of a button/label can be calculated from its contents?

Thanks for the elegant work,
-Tim

[2016-05-16 00:16] tim12s commented on #31
It seems extending the framework and copying the AutoHeight concept to AutoWidth does the trick.  I'll submit a pull request.

[2016-05-16 00:21] mamaral commented on #31
Excellent, thank you!

[2016-05-16 01:06] tim12s commented on #31
Submitted #32 for review

[2016-05-16 03:04] mamaral commented on #31
Thanks again!

[2016-05-16 03:04] #31 closed

[2016-05-17 03:12] thomjordan commented on #3
I used Neon to help achieve a quick, balanced UI look early on within this large-scale application I'm working on, and then moved on to other areas of the app. I'm in the midst of some heavy refactoring this week, and looking back at some previously-written code it's obvious to me now that I've achieved better, more consistent results using Neon than what I could get using Auto Layout, and much mo

[2016-05-17 21:11] mamaral commented on #3
@thomjordan Thanks for the feedback! :)

[2016-05-20 12:17] tim12s commented on #27
I dont mind looking at this, i'm looking for something similar allowing certain  "cells" to be merged and then have the cell layout altered once the handset/device is rotated.  E.g. 3x4 vs 4x3.

[2016-05-29 02:01] mitch10e commented on #26
I am unable to access the new code easily as the podspec file has not been updated to v0.2.0.

[2016-05-31 18:00] mamaral commented on #26
@mitch10e I'll try and get that pushed ASAP.

[2016-05-31 18:28] mamaral commented on #26
@mitch10e Try it now!

[2016-05-31 18:28] #26 closed

[2016-06-04 20:14] Joker666 opened #35 "Question: How is animation with neon?"
I just saw the library, didn't dig into it much, but hopefully considering to use it. Just one concern, how is the basic animations with neon, what are the animation properties? Like with autolayout you animate the constraints constants which is a **pain** in the ass rather than normal uiview animations.

If the animation is breeze I'm all on with this layout system :)
👍

[2016-06-05 02:13] mamaral commented on #35
Each of the functions are simply setting the frame, so I'm assuming you can simply wrap the method calls in your normal animation blocks and the changes should animate fine.

[2016-06-05 05:19] Joker666 commented on #35
Thanks :) Will try out for sure!

[2016-06-05 05:19] #35 closed

[2016-06-10 15:27] jonathantribouharet opened #36 "Prefix the methods"
Hi,
I think it would be a good idea to prefix every methods you have added to UIView.
It would be simpler for others people to find / discover your methods.

[2016-06-17 05:50] Orangerc opened #38 "How to autoheight UITableViewCell?"
When i use Neon，I can't use this gramera to autoHeight UITableViewCell
        self.tableView.rowHeight = UITableViewAutomaticDimension
        self.tableView.estimatedRowHeight = 300

Could you fix the problem?
Thank you.

[2016-06-17 13:22] mamaral commented on #38
Unfortunately, Neon isn't built to handle that type of thing, it's a totally different mechanism.

[2016-06-26 15:02] Orangerc commented on #38
This means,I can not use Neon in UITableViewCell?
Thank You.

[2016-06-26 15:08] mamaral commented on #38
You can use neon to layout the views inside a cell, but you need to calculate the height of the cell yourself.

[2016-06-28 08:11] Orangerc commented on #38
Thank You，I know.

[2016-07-04 20:58] mathmatrix828 opened #39 "Update to Swift 3"
Already noticed a lot of updates are required. I may try to update some of the stuff, but I'm really busy at the moment. What are the plans to update Neon to Swift v3?

[2016-07-05 13:35] mamaral commented on #39
Haven't taken a deep look into Swift 3 yet, but will try to get on this as soon as possible. In the meantime, if anyone wants to submit a PR that would be fantastic.

[2016-07-08 03:41] mamaral commented on #39
Hoping to dive into this this weekend - will keep you updated.

[2016-07-08 09:33] mathmatrix828 commented on #39
Awesome

[2016-07-15 09:55] aliencode opened #40 "Views array fatal error"
[code]

**fatal error: array cannot be bridged from Objective-C**

[2016-08-02 18:51] cbh2000 commented on #40
I'm not sure why, but a workaround is:

[code]

I think it's a Swift bug. Haven't looked into it yet though.

[2016-08-02 18:58] cbh2000 opened #41 "Carthage Build App Store Submission Bug"
When I use Neon via Carthage in my app and upload it to iTunes Connect, I get the following email from Apple:

The email should have a comma between "Instrument Program Flow" and "Generate Test Coverage Files."

Can we just disable these build options? I'm not sure why they'd be needed in the first place.

[2016-08-02 22:33] mamaral commented on #41
These were added in order to get code coverage reporting services working, which at the time of setting them up weren't working with Swift to begin with. If you'd like to open a PR I could get it merged for you ASAP - I just started a new job so my open source dev work will likely be taking a back seat for a bit.

[2016-08-02 22:34] mamaral commented on #40
What version of Swift/Xcode are you on?

[2016-08-09 23:07] #41 closed

[2016-08-10 00:59] cbh2000 commented on #41
Thanks!

[2016-08-24 21:48] mathmatrix828 commented on #39
Any updates?

[2016-08-24 22:38] mamaral commented on #39
I recently started a new job, and that coupled with other projects is eating up all my free time, so I haven't begun to even look into the docs, download the newest Xcode, etc., so this likely won't get done in the very near future unless someone submits a pull request.

[2016-08-24 22:42] mathmatrix828 commented on #39
Sounds good. I'm in the same position as far as free time, and I'm trying to update all of my current projects w/ to be compatible. I may try to put some time and submit a PR but it may not be likely. Thanks for your work!

[2016-08-24 23:48] mamaral commented on #39
Looks like I may have it done actually... Was a bit easier than expected.. Let me test it out and get a new version up.

[2016-08-25 00:18] mamaral commented on #39
Handled in https://github.com/mamaral/Neon/pull/45. I will update the CocoaPod version as soon as tests pass. I didn't go through and convert all the unit tests as that is pretty freaking arduous, but I'll get around to it eventually.

Updating every single line from `XCTAssert(CGRectEqualsToRect(testSiblingView.frame, CGRectMake(70, 10, 920, 40)))` to `XCTAssert(testAnchorView.frame == CGRect(x:

[2016-08-25 00:57] mamaral commented on #39
Looks like xcodebuild is failing with swift 3 for some reason, meaning my pod wont pass lint, meaning I cant push to cocoapods yet...

[2016-08-25 01:22] mathmatrix828 commented on #39
Really? I'm using several pods in many of my projects and haven't had any issues with them, providing their syntax is correct

[2016-08-25 01:34] mamaral commented on #39
My project builds fine but xcodebuild fails.

[2016-08-25 01:35] mathmatrix828 commented on #39
Odd. Maybe update CoacoPods?

[2016-08-25 01:42] mamaral commented on #39
It's not CocoaPods, its the xcodebuild command itself.

[2016-09-05 23:28] brcolow commented on #39
Is this supposed to be working at the moment? Using XCode 8 Beta 6, with the following line in my Podfile:

[code]

Leads to this error:

[code]

[2016-09-05 23:30] mamaral commented on #39
I have not been able to push the update to CocoaPods, as far as I understand it'll have to wait until Xcode 8 is released.

[2016-09-05 23:52] mathmatrix828 commented on #39
I'd like to start looking into this, but I don't know enough about CP to really be able to help

[2016-09-06 00:02] mamaral commented on #39
They have a pull request sitting there but won't merge until xcode 8 is released. AFAIK nothing for us to do but wait.

[2016-09-06 19:51] mamaral commented on #39
I'm hoping https://github.com/CocoaPods/Xcodeproj/pull/407 will address this.

[2016-09-06 21:43] brcolow commented on #39
Is it possible to use the master branch version of CP to address this, now that it is merged?

[2016-09-06 21:48] mamaral commented on #39
On my way home from work. I'll look tonight.

On Tuesday, September 6, 2016, Michael Ennen <notifications@github.com>
wrote:

[2016-09-13 06:46] leroy75 opened #46 "Cannot do layout with transform"
from apple documentation

And if you use any transform on your own view, you cannot do layout with Neon methods

I suggest set transform to "Indentity" before layout and return after in all Neon methods

[2016-09-13 13:21] mamaral commented on #46
Thanks for this - I hadn't considered transforms. I'll take a look as soon as I can.

[2016-09-16 09:27] rjalkuino opened #47 "Use Legacy Swift Language Version"
I getting issue like this using carthage

“Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure the build setting directly.

[2016-09-16 13:01] mamaral commented on #47
I'll take a look either tonight or this weekend. Thanks!

[2016-09-18 14:22] mathmatrix828 commented on #39
Any updates? GM has been released and a lot of projects look good and work well with CP as of XC8

[2016-09-18 14:29] mamaral commented on #39
PR being worked on as we speak. Once I get those changes merged and can get
the latest cocoa pods going I'll hopefully get it out soon.

On Sunday, September 18, 2016, Mason Phillips <notifications@github.com>
wrote:

[2016-09-18 16:36] mathmatrix828 commented on #39
Awesome stuff! Let me know if I can help!

[2016-09-19 00:20] JFKingsley commented on #39
+1! Looking forward to it

[2016-09-19 01:20] mamaral commented on #39
This has actually been a giant pain in my ass. For some reason running `pod lib lint` changed my remote repo URL to cocoapods instead of this repo, so that was fun figuring out... Now I need to determine if I can somehow set the swift version in my podspec, because I'm still not able to lint my podspec locally.

[2016-09-19 01:56] mamaral commented on #39
Holy hell in a handbasket I think I got it... Try out pod version 0.3.4.3.

[2016-09-19 13:23] mathmatrix828 commented on #39
Awesome! I'll check it out tonight

[2016-09-19 13:46] yuyongmao commented on #39
I didn't find  version 0.3.4.3, just found version 2.0

[2016-09-19 13:52] mamaral commented on #39
What do you mean you "found" that version? Searching cocoapods for it shows the latest version. Did you run `pod update`?  https://cocoapods.org/?q=neon

[2016-09-19 21:22] jyounus commented on #36
I would welcome that as well. Something like view.neon_x would make things much easier for noobs like me who still need to pick up the syntax. :)

PureLayout uses "auto" as a prefix which made it really easy to see what auto complete options I have.

[2016-09-19 23:24] yuyongmao commented on #39
Awesome! I have checked it out , thank you very much!

[2016-09-20 13:35] mamaral commented on #36
I'll think some more about this... Not 100% sold on it as there are really only 4 current prefixes, anchor, align, fill, and group... Perhaps this can be clarified earlier and more succinctly in the documentation?

[2016-09-21 00:29] richardtop opened #50 "Bump podspec to '0.3.4.4'"
The latest release is '0.3.4.4', however, in podspec the version is  '0.3.4.3', which is incorrect.
Please fix it.

[2016-09-21 00:46] mamaral commented on #50
Resolved with 0.4.0.

[2016-09-21 00:46] #50 closed

[2016-09-21 02:15] mamaral commented on #47
Recent changes may have made this moot - let me know if you're still having issues.

[2016-09-22 07:46] rjalkuino commented on #47
Thank you very much! I will try that next week.

[2016-09-22 16:11] #47 closed

[2016-09-25 19:43] richardtop opened #51 "Propose grouping without explicit size"
Hello,
I would like to propose idea of grouping without calculating the size of the group explicitly. In that case, Neon should call `sizeToFit` on each of the subviews and calculate the total size.
In addition to

[code]

there would be this option

[code]

How do you feel about it?

The reason behind this feature is to group multiple items that are of different size.

[2016-09-28 06:43] floler commented on #38
@Orangerc @mamaral is the a sample code snippet for creating TableViewCell with Neon? I am really struggeling with doing that :-/

[2016-09-28 12:06] mamaral commented on #38
What are you struggling with exactly?

[2016-09-28 12:22] floler commented on #38
I do set the height of the TV in the delegate methods in the viewcontroller. The cell does match the height but I really dont know how to perform something like the "layoutFrames()" function within the tableviewcell .. this is why I am looking for a sample codesnippet for a tableviewcell created with neon :-)

[2016-09-28 12:30] mamaral commented on #38
Set frames in layoutSubviews

[2016-09-28 17:54] floler commented on #38
Works perfect, thank you very much!

[2016-09-28 17:54] mamaral commented on #38
Glad to help!

[2016-09-28 17:54] #38 closed

[2016-10-16 17:19] threat70 commented on #39
Hello. Why you set min deployment ios version to 9.0? revert please to 8.0 if you can.
I have some projects with 8.0 support and i got upset when discovered this changes.

[2016-10-16 18:15] mathmatrix828 commented on #39
Some of the updates may not be compatible with iOS 8. 8 is currently in legacy and should not be supported

[2016-10-16 18:17] mamaral commented on #39
@threat70 Just use a version that supports 8.

[2016-10-17 03:08] threat70 commented on #39
@mamaral but I want to use swift 3.0 :) Thanks for explanations.

[2016-10-20 14:16] MontakOleg commented on #19
@mamaral what you mean about annoying?
PureLayout actively uses method overloads and I have no problems with this.
<img width="886" alt="autolayout" src="https://cloud.githubusercontent.com/assets/1800899/19563112/7fd6a340-96e7-11e6-9f31-8a06c03291bb.png">

In the same time several of my colleagues don't using Neon because of lack of flexibility (and lacking of supporting right-to-left languages,

[2016-10-20 14:32] mamaral commented on #19
@MontakOleg I agree. It's been a while since I was last in this discussion and honestly can't recall exactly what I meant before. I'm open to specific suggestions or even better would be pull requests as I am extremely busy with other work and likely won't be making changes in the near future.

[2016-10-20 14:34] mamaral commented on #39
@threat70 Done.

[2016-10-20 14:34] #39 closed

[2016-10-21 09:47] cyrus86 opened #52 "keep aspect-ratio of view"
I might just not see it, but is there any way to implement a dynamically sized view that keeps its aspect-ratio?

Best Regards

[2016-10-21 14:08] mamaral commented on #52
I don't see why not - can you give an example? You provide the width and height of the view in many cases, so if you do your own calculations with that aspect-ratio and feed in the correct sizes, it should just work.

[2016-11-02 17:40] acrocat opened #53 "AutoHeight doesn't work if UILabel text is set after the constraints are made."
For example, this will only display a label with a height large enough for "Hello World".

[code]

[2016-11-02 17:43] mamaral commented on #53
This is correct and intended behavior - setting the label height does not automatically re-layout everything else on the screen. That should be done manually.

[2016-11-02 17:48] acrocat commented on #53
That's fair if it's by design, but I'm migrating from SnapKit where this isn't an issue. From what I understand of AL, if a label doesn't have a constraint for its height, it'll occupy whatever free space it needs.

[2016-11-13 14:33] ebubekirguler opened #54 "Button click action is not working"
Hi,
In TwitterProfileExampleViewController, i add a click event to cameraButton which is an UIButton, but the click action is not working. Can you help me please. thanks

`        cameraButton.setImage(UIImage(named: "camera"), for: .normal)
        cameraButton.addTarget(self, action: #selector(buttonAction), for: .touchUpInside)

    func buttonAction(sender: UIButton!) {
        var btnsendtag:

[2016-11-13 22:25] mamaral commented on #54
Do you need to add a colon to the selector code because your function takes a param? Been a bit since I wrote that in swift and I'm away from a computer at the moment.

`#selector(buttonAction:)`

[2016-11-18 23:16] MontakOleg commented on #53
@acrocat Neon not uses AutoLayout, there is no 'constraints', it just bunch of helpful functions to calculate frames.

[2016-11-19 00:27] MontakOleg opened #55 "Support right-to-left languages"
I think a little bit about that.
As a basis idea we can take AutoLayout approach:
`.leading` means `.left` on left-to-right languages and means `.right` on right-to-left languages;
`.trailing` means `.right` on left-to-right languages and means `.left` on right-to-left languages.

We can implement this by simple adding factory functions to our enums(Edge, Corner, Align), for example for `Edge`:
[c

[2016-12-25 15:47] HTAD commented on #15
Use 'Facade'

[2017-02-20 08:44] rifroze opened #57 "Neon is not working on custom UIView Class"
I've tried calling Neon method inside init(frame: CGRect) but apparently is not working, is there any way to make it work in UIView Class?

[2017-02-20 15:03] mamaral commented on #57
Can you show the code?

[2017-02-20 18:06] ardulat opened #58 "wrong height while overriding updateConstraints using AutoHeight"
I am overriding updateConstraints in the init, and first I have a wrong height (too much) for the labels I have aligned, and only after three times (idk why it calls it three times) accessing a function updateConstraints it gives right height. It is better to understand showing the code.

[code]
In the console I have:
[code]
And here first two heights are too big (wrong), and the last one is right

[2017-03-01 02:14] hkapplet1 opened #59 "After aligning the UIscrollview, the subview cant be shown and not scrollable"
Dear Sir,

Thanks for making this features. They are awesome! Hope more and more people use yours masterpiece. It's very useful. 👍 👍 👍 👍

However, for the UIscrollview, the subview cant be shown and not scrollable. Do you have any procedures to include the subview of UIscrollview or how to make the scrollview to be scrollable?

Thanks a lot! Looking forward to hearing from yours :)
Best Regards,
J

[2017-03-01 03:22] mamaral commented on #59
Did you set the content size of the scroll view? Can you share code? Thanks!

[2017-03-01 03:56] hkapplet1 commented on #59
[code]

[2017-03-02 09:06] hkapplet1 commented on #59
Thanks mamaral. It's been solved. It worked well.

[2017-03-02 21:28] #59 closed

[2017-03-02 21:29] mamaral commented on #59
Good to hear!

[2017-03-02 21:30] mamaral commented on #58
init is the wrong time to do it, as the view controller has not had the chance to properly load and set its frame. I would recommend adding it to viewWillLayoutSubviews if this is in a view controller, or layoutSubviews in a view.

[2017-03-02 21:31] mamaral commented on #54
I'm closing this now as this is very unlikely related to Neon, but can help if you need further help.

[2017-03-02 21:31] #54 closed

[2017-03-02 21:33] mamaral commented on #15
Let me know if you're still having issues, closing this for now.

[2017-03-02 21:33] #15 closed

[2017-04-10 17:46] #58 closed

[2017-04-10 17:46] mamaral commented on #57
Closing this unless you're still having issues.

[2017-04-10 17:46] #57 closed

[2017-04-10 17:46] #53 closed

[2017-05-22 07:47] #40 closed

[2017-07-23 01:09] #52 closed

[2017-10-09 02:29] MatrixSenpai opened #60 "iOS 11"
I really like this library and its simplicity in layouts. Is there any plans to update?

[2017-10-10 15:45] mamaral commented on #60
Haven't had any personal cycles to look into this. What changes would need to be made to support iOS 11?

[2017-10-27 21:30] MatrixSenpai commented on #60
![ex](https://user-images.githubusercontent.com/2157565/32125981-765b8e5a-bb3c-11e7-9c55-c6e192ccebcc.png)
Interestingly enough, seems like it's not needed. Everything appears to be fine...assuming no one else has any issues

[2017-10-27 21:30] #60 closed

[2017-11-08 15:28] yodasl opened #64 "Support for safeArea Layout with iOS 11/iPhone X ?"
With the release of iPhone X, apps that use Neon are working without runtime issues, but since the iPhone X has some interesting physical attribute it will be great if Neon could add support for the safeArea layout that is now available. Neon should support the safe area at the top for avoiding any issue with the "notch" of the iPhone X, and since the bottom area with the iPhone X has the visible

[2017-11-29 23:29] JanNash commented on #51
I'd love that. Maybe we should go about n implement it?

[2017-12-15 03:05] hydyy opened #65 "how to do the internal view determines the size of the external view"
how to do the internal view determines the size of the external view

[2017-12-15 15:37] mamaral commented on #65
I don’t quite understand the question.

[2017-12-19 14:15] hydyy commented on #65
has a view [ A ] , container two sub view [ B, C ] ,  how to make A.height == B.height + C.height

[2017-12-20 04:59] mamaral commented on #65
That isn't supported. You can set frames manually yourself.

[2017-12-20 04:59] #65 closed, assigned to nobody

[2018-02-03 08:32] MatrixSenpai opened #67 "Use Intrinsic Size When Anchoring"
Most elements (like `UILabel`) have an `intrinsicContentSize`. Is it possible to extend Neon to use this automatically?

[2018-04-06 20:41] valentinradu commented on #67
But it already does that. Just use `AutoWidth` or `AutoHeight` for the views that have an intrinsic size.
E.g.:
`imageView.anchorToEdge(.top, padding: 20, width: AutoWidth, height: AutoHeight)`

[2018-10-17 17:45] wdcurry commented on #64
gentle nudge..

[2018-10-17 19:17] wdcurry opened #71 "StackFillEdge?"
Perhaps i am missing this, or perhaps my suggested name is not quite right but my basic use case causes me to introduce container views to achieve my layout. It is similar to building a table row by row: the first view must fill top width, then the next one must fill the next top width below it and so on. Grouping top left than calculating width could work but the adding of the elements can be sta

[2018-11-14 12:22] wdcurry opened #72 "Using Neon in a custom view xib?"
I saw one other issue like that (unfortunately with no follow-up by the OP). I am hoping to create a custom nib-based view to drop into a main view, and each instance will manage its own layout via neon (liking the repo!). But, there is absolutely no neon-action within the instantiation. I have the most basic of view, and simply firing it up within the main VC, and dropped a sample view that is in

[2018-11-30 20:22] wdcurry opened #73 "Trapping Rainwater repo using Neon.."
I thought Neon would be perfect for the venerable interview question, so i created this repo to manifest an nice solution:

http://bit.ly/TrappingRainwater

thank you!

[2019-01-11 14:04] wdcurry commented on #52
This would truly round out this amazing repo. Group fill where each element of the filling array is assigned the required ratio rather than the currently set equality. THIS would be put to use immediately.

[2019-06-25 15:40] richardtop opened #74 "Support Swift Package Manager"
Given GitHub and Xcode now have integrations with the SPM, it would be good to support it, so the library is easy to integrate.

[2019-12-05 17:01] kuwaitbinary commented on #64
This code helped me with the issue

[code]

[2021-01-28 13:02] varuntotlani opened #77 "Set minimum width and height to view?"
How can we set minimum width as well as height to the views?

Thank you for the awesome library.

[2021-04-21 16:01] #51 closed

[2021-04-21 16:03] #74 closed, assigned to nobody